

.Container { 
display: grid; 
grid-template-columns: .75fr 2.25fr repeat(4, .75fr) 2fr 1fr 2.25fr; 
grid-template-rows: .2fr 1fr .25fr .45fr 1.75fr; 
grid-column-gap: 0px;
grid-row-gap: 5px; 
font-family: "Helvetica";
box-sizing: border-box;
}

.Home { 
	grid-area: 1 / 2 / 2 / 3; 
	font-size: 12pt;
	color: #66757f;
	text-align: left;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;

} 
.Login { grid-area: 1 / 9 / 2 / 10; 
	font-size: 12pt;
	color: #66757f;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 7px;
	} 

#Bio-img { 
	border-radius: 50%;
	position: absolute;
	left: 125px;
	top: 125px;
	border: solid #ffffff 4px;
	max-width: 240px;
	grid-area: 2 / 2 / 5 / 3;
 } 

.Profile {
	grid-area: 2 / 2 / 6 / 3;
	display: grid; 
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr;

}

#bio-title {
	grid-row: 5;
	font: 40px;
	color: black;
	position: relative;
	top: 60%;

}

#bio-username {
	grid-row: 6;
	color: #66757f;
	position: relative;
	top: 35%;
}

#bio-text {
	grid-row: 7;
	color: black;
	position: relative;
	top: -10%;
}

.Background-turqouise { 
	grid-area: 2 / 1 / 3 / 10;
	background: #00a7c5; 
	border: solid 2px #009eba;}
.Background-grey { 
	grid-area: 4 / 1 / 14 / 10; 
	background: #e6ecf0;
	border-top: solid 3px #d1d7da;
	padding-top: 10px;
	} 
.Tweet-bg-white { 
	grid-area: 4 / 3 / 14 / 8; 
	background: white;
	margin-top: 20px;
	 }  

.Button { grid-area: 3 / 9 / 4 / 10; 
	background-color: #ffffff;
	border-radius: 45px;
	border: solid #00a7c5 1px;
	font-weight: bold;
	color: #00a7c5;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 40px;
	padding-right: 40px;
	text-align: left;
	font-size: 18px;
	max-width: 60px;
	max-height: 50px;
	position: fixed;
	right: 100px;
	top: 278px;
	  } 

.Info-box { grid-area: 3 / 3 / 4 / 8;
	display: grid; 
	grid-template-rows: 30px 30px;
	grid-template-columns: 1fr 1.1fr 1.1fr 1.1fr 2.8fr;
	grid-row-gap: 0px;
}

.Info-tweets { grid-area: 1 / 1 / 2 / 2; 
	color: #66757f; 
	font-weight: bold;
	font-size: 12px; 
	padding-top: 10px;
	text-align: center;
} 

.Info-tweets-count { 
	grid-area: 2 / 1 / 3 / 2; 
	color: #00a7c5; 
	font-weight: bold; 
	text-align: center;
	position: relative;
	font-size: 16px;
	top: -95%;
} 

.Info-tweets-current { grid-area: 1 / 1 / 3 / 2; 
	border-bottom: solid #00a7c5 3px;
	position: relative;
	top: 10%;}

.Info-following { grid-area: 1 / 2 / 2 / 3;
	color: #66757f;  
	font-weight: bold;
	font-size: 12px;  
	padding-top: 10px;
	text-align: center;
}

.Info-fing-count { grid-area: 2 / 2 / 3 / 3; 
	color: #66757f; 
	font-weight: bold; 
	text-align: center;
	position: relative;
	font-size: 16px;
	top: -95%;
} 

.Info-followers { grid-area: 1 / 3 / 2 / 4; 
	color: #66757f; 
	font-weight: bold; 
	padding-top: 10px;
	font-size: 12px; 
	text-align: center;
}

.Info-fers-count { grid-area: 2 / 3 / 3 / 4; 
	color: #66757f; 
	font-weight: bold; 
	text-align: center;
	position: relative;
	font-size: 16px;
	top: -95%;
} 

.Info-likes { grid-area: 1 / 4 / 2 / 5;
	color: #66757f;  
	font-weight: bold; 
	padding-top: 10px;
	font-size: 12px; 
	text-align: center;
}

.Info-likes-count { 
	grid-row: 2;
	grid-column: 4;
	color: #66757f; 
	font-weight: bold; 
	text-align: center;
	position: relative;
	font-size: 16px;
	top: -95%; 
}


.Main-box { grid-area: 4 / 3 / 5 / 8; 
	border-bottom: solid 3px #e6ecf0;
	display: grid; 
	grid-template-columns: 1.5fr 3fr 4fr;

}
.Main-tweets { grid-column: 1;
	color: black;
	text-align: center;
	position: relative;
	top: 25%; 

} 
.Main-tweets-replies { grid-column: 2;
	color: #00a7c5; 
	text-align: left;
	position: relative;
	top: 25%; 

} 
.Main-media { grid-column: 3; 
	color: #00a7c5; 
	text-align: left;
	position: relative;
	top: 25%; 

}

.Main-feed {
	grid-area: 5 / 3 / 14 / 8;
	grid-template-rows: .5fr .75fr .5fr .5fr .9fr .5fr .5fr 2fr;

	/*grid-template-rows: .12fr .2fr .16fr .12fr .3fr .16fr .12fr 2fr;*/
	grid-template-columns: .2fr .38fr 1fr;
	border-bottom: solid 3px #e6ecf0;
	display: grid; 
}

.Tweet1 {
	grid-area: 1 / 1 / 4 / 4;
	border-bottom: solid 3px #e6ecf0;
}

.Tweet1-img {
	border-radius: 50%;
	position: absolute;
	max-width: 60px;
	grid-area: 1 / 1 / 3 / 2;
	padding-top: 10px;
	padding-left: 15px;
}

.Tweet1-name {
	grid-row: 1;
	grid-column: 2; 
	font-weight: bold;
	color: black;
	text-align: left;
	padding-right: 4px;
	padding-top: 8px;}

.Tweet1-username-time {
	grid-row: 1;
	grid-column: 3;
	color: #66757f;
	text-align: left;
	padding-top: 8px;}

.Tweet1-text {
	grid-area: 2 / 2 / 4 / 4;
	color: black;
	font: 10px;}

.Tweet1-stats {
	grid-area: 3 / 2 / 4 / 5;
	grid-template-columns: .23fr .23fr .23fr 1fr;
	display: grid; 
}

.Tweet1-comments {
	grid-column: 1;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.Tweet1-retweets {
	grid-column: 2;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.Tweet1-likes {
	grid-column: 3;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.Tweet2 {
	grid-area: 4 / 1 / 7 / 4;
	border-bottom: solid 3px #e6ecf0;
}

.Tweet2-img {
	border-radius: 50%;
	max-width: 60px;
	grid-area: 4 / 1 / 7 / 2;
	padding-top: 10px;
	padding-left: 15px;
}

.Tweet2-name {
	grid-row: 4;
	grid-column: 2; 
	font-weight: bold;
	color: black;
	text-align: left;
	padding-right: 4px;
	padding-top: 8px;}

.Tweet2-username-time {
	grid-row: 4;
	grid-column: 3;
	color: #66757f;
	text-align: left;
	padding-top: 8px;}

.Tweet2-text {
	grid-area: 5 / 2 / 6 / 4;
	color: black;
	font: 10px;}

.Tweet2-stats {
	grid-area: 6 / 2 / 7 / 5;
	grid-template-columns: .23fr .23fr .23fr 1fr;
	display: grid; 
}

.Tweet2-comments {
	grid-column: 1;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.Tweet2-retweets {
	grid-column: 2;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}
.Tweet2-likes {
	grid-column: 3;
	color: #66757f;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}


.Tweet3 {
	grid-area: 7 / 1 / 10 / 4;
	border-bottom: solid 3px #e6ecf0;
}

.Tweet3-img {
	border-radius: 50%;
	max-width: 60px;
	grid-area: 7 / 1 / 9 / 2;
	padding-top: 10px;
	padding-left: 15px;
}
.Tweet3-name {
	grid-row: 7;
	grid-column: 2; 
	font-weight: bold;
	color: black;
	text-align: left;
	padding-right: 4px;
	padding-top: 8px;}

.Tweet3-username-time {
	grid-row: 7;
	grid-column: 3;
	color: #66757f;
	text-align: left;
	padding-top: 8px;}

.Tweet3-text {
	grid-area: 8 / 2 / 9 / 4;
	color: black;
	font: 10px;}

